<a href="https://colab.research.google.com/github/arunrajvakathanam/panda/blob/main/Pandas_Data_Structure%5BBasic_Operations%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas Data Structures

###What is Pandas
####Pandas is a Data Analysis Package in Build on Top of Numpy
####Pandas is Designed with Data Structure like Series and DataFrame
####Pandas is started as an open source project in 2010

###Pandas offer 3 fundemental Data Structure 1.Series 2. DataFrame 3. Index

A Series is a 1D array-like object

###How to  Construct Pandas Series
####pd.Series(data, index=index)

####data: A list
####data: A Dictionary
####data: One-dimensional Numpy Array
####data: A Scalar

###How to Construct Padas DataFrame
####pd.DataFrame(data, columns='columns names', index='index names')

####data:A single Series object
####data:A list of Dictionary
####data:Dictionary of Series of objects
####data:Two-dimensional Numpy Array
####data: A numpy Structured Array

How To Construct Pandas Index Object?

pd.Index("A list of Index values")

The Index Object Behaves Like An Immutable Array Or Ordered Set

The Index Objects May Contain A Repeated Values

Immutabilibility Makes It Safer To Share Indices

Python Built-in Operation Can Be Performes On Index Object

##Construct The Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series?

###Array List Object

In [3]:
list= [1,2,3,4,5,6,7,8,9]

In [4]:
ser_list = pd.Series(list)
ser_list

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

###Simple Dictionary Object

In [6]:

dict = {1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}

ser_dict = pd.Series(dict)

In [7]:
ser_dict

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

###Scalar Value

In [8]:
ser_scalar = pd.Series(5, index=[1,2,3,4,5])
ser_scalar

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [9]:
ser_index = pd.Series({1:'A',2:'B',3:'C',1:'D',5:'E',6:'F'}, index=[1,2,3])
ser_index

1    D
2    B
3    C
dtype: object

###Read Data From csv

In [12]:
ser_csv = pd.read_csv('titanic.csv')
ser_csv

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [13]:
ser_csv['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [14]:
print(type(ser_csv))
print(type(ser_csv['Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

##To Construct The Pandas DataFrame Object

In [15]:
import pandas as pd
import numpy as np

In [16]:
pd.DataFrame?

In [17]:
states_capitals = {'Karnataka':'Banglore','Adrapradesh':'Hydrabad','Tamilnadu':'Chennai','Kerala':'Thiruvanathapuram','Maharastra':'Mumbai'}

In [18]:

states_lang = {'Karnataka':'Kannada','Adrapradesh':'Telugu','Tamilnadu':'Tamil','Kerala':'Malayalam','Maharastra':'Hindi'}

In [19]:
states_CL = pd.DataFrame({'Capitals':states_capitals,'Language':states_lang})
states_CL

                      Capitals   Language
Karnataka             Banglore    Kannada
Adrapradesh           Hydrabad     Telugu
Tamilnadu              Chennai      Tamil
Kerala       Thiruvanathapuram  Malayalam
Maharastra              Mumbai      Hindi

In [20]:
d_list = {'a':[0,1,2,3,4],'b':[2,4,5,6,8],'c':[1,3,5,7,9]}
print(d_list)

{'a': [0, 1, 2, 3, 4], 'b': [2, 4, 5, 6, 8], 'c': [1, 3, 5, 7, 9]}

In [21]:
df_list = pd.DataFrame(d_list)
df_list

   a  b  c
0  0  2  1
1  1  4  3
2  2  5  5
3  3  6  7
4  4  8  9

In [22]:
data = [{'a':i,'b':i*2,'c':i*3}for i in range(5)]
data

[{'a': 0, 'b': 0, 'c': 0},
 {'a': 1, 'b': 2, 'c': 3},
 {'a': 2, 'b': 4, 'c': 6},
 {'a': 3, 'b': 6, 'c': 9},
 {'a': 4, 'b': 8, 'c': 12}]

In [23]:
data_df = pd.DataFrame(data)
print(data_df)

   a  b   c
0  0  0   0
1  1  2   3
2  2  4   6
3  3  6   9
4  4  8  12

In [24]:
state_CL = pd.DataFrame({'Capital':pd.Series(states_capitals),'Language':pd.Series(states_lang )})
state_CL

                       Capital   Language
Karnataka             Banglore    Kannada
Adrapradesh           Hydrabad     Telugu
Tamilnadu              Chennai      Tamil
Kerala       Thiruvanathapuram  Malayalam
Maharastra              Mumbai      Hindi

In [25]:
df_np = pd.DataFrame(np.random.randn(6,3), index=['A','B','C','D','E','F'], columns=['one','two','three'])
df_np

        one       two     three
A  0.020936  0.002649 -1.555888
B -0.600660 -0.224731  0.105065
C -1.330857 -1.441674  1.796479
D -0.868704 -1.914434  0.541221
E -0.390136 -0.532270 -1.633064
F -0.026579  0.320485  2.475348

In [26]:
A = np.zeros(5,dtype=[('A','i'),('B','f')])
A

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.)],
      dtype=[('A', '<i4'), ('B', '<f4')])

In [27]:
A_df = pd.DataFrame(A)

In [28]:
A_df

   A    B
0  0  0.0
1  0  0.0
2  0  0.0
3  0  0.0
4  0  0.0

In [29]:
csv_df = pd.read_csv('titanic.csv')
type(csv_df)

pandas.core.frame.DataFrame

##Pandas Index Object
###Construct Pandas Index Object

In [30]:
import pandas as pd

In [31]:
pd.Index?

In [32]:
list = [1,2,3,4,5,6,7,8]
ind = pd.Index(list)

In [33]:
print(ind)

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [34]:
ind = pd.Index(list, name='integers')

In [35]:
ind

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64', name='integers')

In [36]:
###How To Access The Index Object
print(ind)
ind[2]

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64', name='integers')

3

In [37]:
#Slicing
ind[:3]

Int64Index([1, 2, 3], dtype='int64', name='integers')

In [38]:
ind[::2]

Int64Index([1, 3, 5, 7], dtype='int64', name='integers')

In [39]:
print(ind.dtype,ind.shape,ind.size,ind.ndim)

int64 (8,) 8 1

####Index Method and Properties

In [40]:
indA = pd.Index([1,3,5,7])
indA

Int64Index([1, 3, 5, 7], dtype='int64')

In [41]:
indB = pd.Index([2,3,4,5,6,8])
indB

Int64Index([2, 3, 4, 5, 6, 8], dtype='int64')

In [42]:
indA & indB #intersection

<ipython-input-42-84a30f67f14d>:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB #intersection

Int64Index([3, 5], dtype='int64')

In [44]:
indA | indB #union

<ipython-input-44-68d349e1a93d>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB #union

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [46]:
indA.difference(indB)#Difference

Int64Index([1, 7], dtype='int64')

In [47]:
indA ^ indB #symmtric difference

<ipython-input-47-89117f941cae>:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB #symmtric difference

Int64Index([1, 2, 4, 6, 7, 8], dtype='int64')

In [49]:
indA.intersection(indB)

Int64Index([3, 5], dtype='int64')

In [50]:
indA.union(indB)

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [51]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 4, 6, 7, 8], dtype='int64')